
*,*:before,*:after{

    

}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

header {
  /*  background-image: url(/Rec.png);*/
    background-color: #212121;
    background-repeat: no-repeat;
    background-size: cover;
}


nav {
    margin: 0px 80px;
    padding-top: 47px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

.shape {
    text-align: right;
    justify-content: flex-end;
    box-sizing: border-box;
}

.navitem {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 90px;
    box-sizing: border-box;
    transition: color 0.3s linear;
}
.navitem:hover{

    color: #ff6a00;
}

.mid-text {
    margin-top: 40px;
    color: #ffffff;
    font-size: 80px;
    text-align: center;
    top: 170px;
}
.ander-mid-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    line-height: 160%;
    opacity: 0.8;
}
.SearchField{
    text-align: center;
}

.test{
    color: #ffffff;
}
.MarketPlase {
    text-align: center;
}

.best-Product {
    font-size: 42px;
}
.item-name {
    
    font-size: 21.3251px;
    line-height: 26px;
}
.chusitem {
    font-weight: 600;
    color: #000000;
}
.price-shap {
    display: flex;
    justify-content: space-around;
}
.item-item-cart {
    width: 217.9px;
    height: 255.9px;
    border-block-color: #808080;
}

.MarketPlase {
    background: #F7F7F7;
    height: 2000px;
}
.item-card {
    justify-content: space-around;
    width: 268.09px;
    height: 441.73px;
    background: #ffffff;
    border-radius: 20px;
}
.item-card-lain {
    display: flex;
    justify-content: space-around;
    
}
.durnja {
    display: flex;
    justify-content: space-around;
}
.CartId {
    color: #ffffff;
}

.spinner {
    width: 44px;
    height: 44px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}

    .spinner > div {
        background-color: rgba(0,77,255,0.2);
        height: 100%;
        position: absolute;
        width: 100%;
        border: 2px solid #004dff;
    }

    .spinner div:nth-of-type(1) {
        transform: translateZ(-22px) rotateY(180deg);
    }

    .spinner div:nth-of-type(2) {
        transform: rotateY(-270deg) translateX(50%);
        transform-origin: top right;
    }

    .spinner div:nth-of-type(3) {
        transform: rotateY(270deg) translateX(-50%);
        transform-origin: center left;
    }

    .spinner div:nth-of-type(4) {
        transform: rotateX(90deg) translateY(-50%);
        transform-origin: top center;
    }

    .spinner div:nth-of-type(5) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
    }

    .spinner div:nth-of-type(6) {
        transform: translateZ(22px);
    }

@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

/*.item-card {
    width: 190px;
    height: 254px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}*/
/**/
  /*  .card h2 {
        z-index: 1;
        color: white;
        font-size: 2em;
    }*/

/*.item-card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.item-card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
}*/

/*.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    height: 80px;
    width: 80px;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(25, 116, 253);
    border-radius: 50%;
}

.waves {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgb(30, 146, 255);
    box-shadow: inset 0 0 50px rgb(0,0,0,.3);
}

    .waves::before,
    .waves::after {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #000;
    }

    .waves::before {
        border-radius: 45%;
        background: rgb(248, 248, 248);
        animation: wave91234 5s linear infinite;
    }

    .waves::after {
        border-radius: 40%;
        background: rgb(255,255,255,.5);
        animation: wave91234 10s linear infinite;
    }

@keyframes wave91234 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}*/