
@{
    @model WebApplication1.Models.User
}
        <form method="post" asp-action="GetAuthorizationField" asp-controller="Authorization">
            <p>
                <label asp-for ="Email" >Email</label><br />
                <input type="text" asp-for="Email" />
            </p>
            <p>
                <label asp-for ="Password">Password</label><br />
                <input type='password' asp-for ="Password" />
            </p>
            <input type='submit' value='Login' />
        </form>